.checkout-page {
  margin: 1rem 15rem;
  width: 70rem;
}
.contact-details-form {
  width: 50rem;
}
.ingredient-row {
  display: flex;
  border-bottom: 1px solid grey;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.title {
  font-weight: bolder;
  font-size: 1.3rem;
}
.ingredient-col {
  min-width: 30rem;
}
